@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0; /* border: 0; */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: linear-gradient(to right, #f8b7b9, #f7f5ae, #aef7cb);
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz {
  position: relative;
  width: 600px;
  height: 460px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px;
}
.quiz__question {
  line-height: 35px;
}
.quiz__question,
.quiz__end {
  height: 82px;
  font-size: 26px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
.quiz__answer-item {
  display: flex;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.quiz__answer-item:hover {
  background-color: rgb(238, 235, 235);
}
.quiz__radio {
  cursor: pointer;
}
.quiz__input-text {
  font-size: 20px;
  margin-left: 10px;
  padding: 15px 20px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.quiz__button {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 27px 0;
  background-color: #8e44ad;
  color: #fff;
  font-size: 20px;
  border: none;
}

.title,
.message,
.result {
  font-size: 24px;
  text-align: center;
  padding-top: 40px;
}

.title {
  margin-top: 60px;
}
